services:
  telegram-bot:
    image: ghcr.io/hostmaster/usdt_monitor_bot:stable
    build: .
    env_file: [.env]
    volumes:
      - usdt_monitor_data:/app/data
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
volumes:
  usdt_monitor_data:
