---
name: Security

on:
  push:
    paths:
      - "**.py"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.0"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: |
          uv pip install --system bandit safety
      - name: Run Bandit
        run: |
          bandit --baseline baseline.json -r usdt_monitor_bot/
      - name: Check dependencies for known vulnerabilities
        run: |
          safety check
